@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-hanken antialiased;
  }
  h1, h2, h3 {
    @apply font-playfair;
  }
}

.gold-gradient-text {
  background: linear-gradient(135deg, #FFF1C5 0%, #D4AF37 50%, #9F7B18 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gold-border-gradient {
  border-image: linear-gradient(to bottom, rgba(212, 175, 55, 0.4), rgba(212, 175, 55, 0.05)) 1;
}
